<table class="table">
  <thead>
    <tr>
      <th scope="col">Descrpcion</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Version Node</th>
      <td>{{versionNode}}</td>
    </tr>
    <tr>
      <th scope="row">Process id</th>
      <td>{{processId}}</td>
    </tr>
    <tr>
      <th scope="row">Memoria</th>
      <td>{{memory}}</td>
    </tr>
    <tr>
      <th scope="row">Argumento</th>
      <td>{{argumentos}}</td>
    </tr>
    <tr>
      <th scope="row">Carpeta</th>
      <td>{{carpeta}}</td>
    </tr>
    <tr>
      <th scope="row">Sistema Op.</th>
      <td>{{sistemaOp}}</td>
    </tr>
  </tbody>
</table>